<main>
    <div class="container my-5">
        <h2 class="text-center my-2">Estadisticas de Q&A</h2>
        <hr class="border border-warning border-1 opacity-50">
        <h5>Cantidad de jugadores que tiene la aplicacion: {{#playersCount}}{{playersCount}}{{/playersCount}}{{^playersCount}}0{{/playersCount}}</h5>
        <h5>Cantidad de partidas jugadas: {{#gamesCount}}{{gamesCount}}{{/gamesCount}}{{^gamesCount}}0{{/gamesCount}}</h5>
        <h5>Cantidad de preguntas en el juego: {{#questionsCount}}{{questionsCount}}{{/questionsCount}}{{^questionsCount}}0{{/questionsCount}}</h5>
        <hr class="border border-warning border-1 opacity-50">
        <div class="ms-auto">
            <div class="dropdown d-flex justify-content-end">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    filtrar por
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="/admin/get?filter=day">Dia</a></li>
                    <li><a class="dropdown-item" href="/admin/get?filter=week">Semana</a></li>
                    <li><a class="dropdown-item" href="/admin/get?filter=month">Mes</a></li>
                    <li><a class="dropdown-item" href="/admin/get?filter=year">Año</a></li>
                </ul>
            </div>                
        </div>
        <h5>Cantidad de preguntas creadas: {{#questionsCreated}}{{questionsCreated}}{{/questionsCreated}}{{^questionsCreated}}0{{/questionsCreated}}</h5>
        <h5>Cantidad de usuarios nuevos: {{#newUsers}}{{newUsers}}{{/newUsers}}{{^newUsers}}0{{/newUsers}}</h5>
        <hr class="border border-warning border-1 opacity-50">
        <h5>Porcentaje de preguntas respondidas correctamente por usuario </h5>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {{#correctPercentageGraph}}
                <div class="col justify-content-center">
                    <div class="card text-center">
                        <img class="card-img-top mx-auto d-block" src="/{{graph}}" alt="user-winratio">
                    </div>
                </div>
            {{/correctPercentageGraph}}
            {{^correctPercentageGraph}}
                <div class="my-2 fw-bold"><caption>No hay datos disponibles.</caption></div>
            {{/correctPercentageGraph}} 
        </div> 
        <hr class="border border-warning border-1 opacity-50">
        <h5>Distribucion de Usuarios por pais, genero y grupo de edad</h5>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {{#usersByCountryGraph}}
                <div class="col justify-content-center">
                    <div class="card text-center">
                        <img class="card-img-top mx-auto d-block" src="/{{usersByCountryGraph}}" alt="country-ratio">
                    </div>
                </div>
            {{/usersByCountryGraph}}
            {{^usersByCountryGraph}}
                <div class="my-2 fw-bold"><caption>No hay datos disponibles.</caption></div>
            {{/usersByCountryGraph}} 
            {{#usersByGenderGraph}}
                <div class="col justify-content-center">
                    <div class="card text-center">
                        <img class="card-img-top mx-auto d-block" src="/{{usersByGenderGraph}}" alt="gender-ratio">
                    </div>
                </div>
            {{/usersByGenderGraph}}
            {{^usersByGenderGraph}}
                <div class="my-2 fw-bold"><caption>No hay datos disponibles.</caption></div>
            {{/usersByGenderGraph}} 
            {{#usersByAgeGroupGraph}}
                <div class="col justify-content-center">
                    <div class="card text-center">
                        <img class="card-img-top mx-auto d-block" src="/{{usersByAgeGroupGraph}}" alt="ageGroup-graph">
                    </div>
                </div>
            {{/usersByAgeGroupGraph}}
            {{^usersByAgeGroupGraph}}
                <div class="my-2 fw-bold"><caption>No hay datos disponibles.</caption></div>
            {{/usersByAgeGroupGraph}} 
        </div> 
        <hr class="border border-warning border-1 opacity-50">
        <h5>Trampitas Acumuladas por Usuario: </h5>
        <ul>{{#trampitasAcumuladasPorUsuario}}
            <li class="fw-bold">{{nombreUsuario}} &raquo; {{trampitasAcumuladas}}</li>
        {{/trampitasAcumuladasPorUsuario}}</ul>
        {{^trampitasAcumuladasPorUsuario}}
            <div class="my-2 fw-bold"><caption>No hay datos disponibles.</caption></div>
        {{/trampitasAcumuladasPorUsuario}}
        <h5>Ganacias de las Trampitas: ${{#gananciasTrampitas}}{{gananciasTrampitas}}{{/gananciasTrampitas}}{{^gananciasTrampitas}}0{{/gananciasTrampitas}}</h5>
        <hr class="border border-warning border-1 opacity-50">
        <div class="d-flex justify-content-end">
            {{#year}}<a class="btn btn-dark" href="/admin/create?filter={{year}}">Generar PDF</a>{{/year}}
            {{#month}}<a class="btn btn-dark" href="/admin/create?filter={{month}}">Generar PDF</a>{{/month}}
            {{#week}}<a class="btn btn-dark" href="/admin/create?filter={{week}}">Generar PDF</a>{{/week}}
            {{#day}}<a class="btn btn-dark" href="/admin/create?filter={{day}}">Generar PDF</a>{{/day}}
        </div>    
    </div>
</main>
