<main class="container my-5">
    <div class="row d-flex flex-column justify-content-center align-items-center">  
        <div class="col-sm-6 border border-1 rounded" style="background-color: #F9AD30">
            <form class="p-4" action="/buy/update" method="post">
                <h2 class="text-center mb-3">Comprar Bonus</h2>
                <input type="hidden" name="idUser" id="idUser" value="{{#user}}{{id}}{{/user}}">
                <div class="form-floating mb-3">
                    <input class="form-control" type="number" name="amount" id="amount" min="1" placeholder="Ingresar Cantidad" required>
                    <label for="amount">Cantidad</label>
                </div>
                <div class="mb-3 d-flex align-items-center">
                    <label for="totalPrice" class="fw-bold mb-0 w-auto">Precio Total &raquo $</label>
                    <input class="form-control-plaintext fw-bold w-auto" type="number" id="totalPrice" name="totalPrice" required readonly>
                </div>
                <div class="mb-3">
                    <input class="btn btn-dark" type="submit" name="comprar" id="comprar" value="Comprar">
                    <a class="btn btn-dark" href="/lobby/read">Cancelar</a>
                </div>
            </form>            
        </div>
    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var cantidadInput = document.getElementById("amount");
        var precioTotalInput = document.getElementById("totalPrice");
            
        cantidadInput.addEventListener("input", function() {
            var cantidad = parseInt(cantidadInput.value);
            if (!isNaN(cantidad)) {
                var precioTotal = cantidad * 1.25; 
                precioTotalInput.value = precioTotal.toFixed(2);
            } else {
                precioTotalInput.value = 0;
            }
        });

    });
</script>
