{{#pendingChallenges}}
    <div>
        <p>Desafío pendiente de {{challenger_username}} con un puntaje de {{challenger_score}}.</p>
        <a href="/challenge/acceptChallenge?challenge_id={{challenge_id}}">Aceptar desafío</a>
    </div>
{{/pendingChallenges}}

{{#wonChallenges}}
    <div>
        <p>Desafío ganado contra {{challenged_username}} con un puntaje de {{challenger_score}} a {{challenged_score}}.</p>
    </div>
{{/wonChallenges}}

{{#lostChallenges}}
    <div>
        <p>Desafío perdido contra {{challenged_username}} con un puntaje de {{challenger_score}} a {{challenged_score}}.</p>
    </div>
{{/lostChallenges}}