
{{#pendingChallenges}}
    <div>
        <p>Desafío pendiente de {{challenger_username}}.</p>
        <form method="post" action="/challenge/acceptChallenge">
            <input type="hidden" name="challengeId" value="{{id}}">
            <button type="submit">Aceptar desafío</button>
        </form>
    </div>
{{/pendingChallenges}}

{{#wonChallenges}}
    <div>
        <p>Desafío ganado contra {{challenged_username}} con un puntaje de {{challenger_score}} a {{challenged_score}}.</p>
    </div>
{{/wonChallenges}}

{{#lostChallenges}}
    <div>
        <p>Desafío perdido contra {{challenged_username}} con un puntaje de {{challenger_score}} a {{challenged_score}}.</p>
    </div>
{{/lostChallenges}}

{{#tiedChallenges}}
    <div>
        <p>Desafío empatado con {{challenged_username}}. Ambos obtuvieron un puntaje de {{challenger_score}}.</p>
    </div>
{{/tiedChallenges}}