<main>
    <div class="container my-5">
        <h2 class="text-center text-dark">{{#question}}Actualizar pregunta{{/question}}{{^question}}Crear pregunta{{/question}}</h2>
        <form action="{{action}}" method="post">
            <div class="mb-3">
                <input class="form-control" type="text" name="question" id="question" placeholder="Ingresar nueva pregunta" required value="{{question.question}}">
                <label for="question">Nueva pregunta</label>
            </div>
            <div class="mb-3">
                <select class="form-select" name="category" id="category" required>
                    <option selected disabled value="">Seleccionar categoría</option>
                    <option value="Geografía" {{#question}}{{#categoryIsGeography}}selected{{/categoryIsGeography}}{{/question}}>Geografía</option>
                    <option value="Arte" {{#question}}{{#categoryIsArt}}selected{{/categoryIsArt}}{{/question}}>Arte</option>
                    <option value="Ciencia" {{#question}}{{#categoryIsScience}}selected{{/categoryIsScience}}{{/question}}>Ciencia</option>
                    <option value="Deporte" {{#question}}{{#categoryIsSport}}selected{{/categoryIsSport}}{{/question}}>Deporte</option>
                    <option value="Entretenimiento" {{#question}}{{#categoryIsEntertainment}}selected{{/categoryIsEntertainment}}{{/question}}>Entretenimiento</option>
                    <option value="Historia" {{#question}}{{#categoryIsHistory}}selected{{/categoryIsHistory}}{{/question}}>Historia</option>
                </select>
                <label for="category">Categoría</label>
            </div>

            <div class="mb-3">
                <input class="form-control" type="text" name="answer1" id="answer1" placeholder="Ingresar respuesta 1" required value="{{question.answer1}}">
                <input class="form-control" type="text" name="answer2" id="answer2" placeholder="Ingresar respuesta 2" required value="{{question.answer2}}">
                <input class="form-control" type="text" name="answer3" id="answer3" placeholder="Ingresar respuesta 3" required value="{{question.answer3}}">
                <input class="form-control" type="text" name="answer4" id="answer4" placeholder="Ingresar respuesta 4" required value="{{question.answer4}}">
                <label>Respuesta correcta:</label>
                <div>
                    <input type="radio" id="correct1" name="correct" value="1" required {{#question}}{{#correctIs1}}checked{{/correctIs1}}{{/question}}>
                    <label for="correct1">Respuesta 1</label>
                </div>
                <div>
                    <input type="radio" id="correct2" name="correct" value="2" required {{#question}}{{#correctIs2}}checked{{/correctIs2}}{{/question}}>
                    <label for="correct2">Respuesta 2</label>
                </div>
                <div>
                    <input type="radio" id="correct3" name="correct" value="3" required {{#question}}{{#correctIs3}}checked{{/correctIs3}}{{/question}}>
                    <label for="correct3">Respuesta 3</label>
                </div>
                <div>
                    <input type="radio" id="correct4" name="correct" value="4" required {{#question}}{{#correctIs4}}checked{{/correctIs4}}{{/question}}>
                    <label for="correct4">Respuesta 4</label>
                </div>
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-dark" name="submit" id="submit" value="{{submitText}}">
                <a class="btn btn-dark" href="/editor/questionsView">Cancelar</a>
            </div>
        </form>
    </div>
</main>