<main>
    <div class="container my-5">
        <h2 class="text-center text-dark">Panel del Editor</h2>
        <div class="d-flex justify-content-center">
            <a class="btn btn-dark" href="/editor/suggestedQuestionsView">Ver preguntas sugeridas</a>
            <a class="btn btn-dark" href="/editor/questionsView">Ver preguntas</a>
        </div>
    </div>
</main>