<main class="container my-5">
    {{#mensaje}}
        <div class="container d-flex justify-content-center align-item-center">
            <div class="p-5 text-center rounded-3 bg-warning">
                <h2 class="text-dark fw-bold">Preguntas creadas insuficientes</h2>
                <p class="lead text-dark">{{mensaje}}</p>
                <a class="btn btn-secondary btn-lg" href="/lobby/read">Volver al Lobby &raquo;</a>
            </div>            
        </div>
    {{/mensaje}}
    {{^mensaje}}
        {{#qr}}
            <div class="container d-flex justify-content-center align-item-center">
                <div class="p-5 text-center rounded-3 bg-warning">
                    <h2 class="text-dark fw-bold">QR para Entorno Generado/h2>
                    <div class="m-3">
                        <img class="img-fluid" src="/{{qr}}" alt="QR Code">
                    </div>
                    <a class="btn btn-secondary btn-lg" href="{{downloadLink}}" download="qr-miEntorno.png">Descargar QR &raquo;</a>
                </div>            
            </div>
        {{/qr}}
    {{/mensaje}}
</main>
