<div> NYA NYA NYA :V </div>

<ul>
    <li>
        <a href="/registro/read">Registrarse</a>
    </li>
    <li>
        <a href="/login/read">Login</a>
    </li>
    {{#usuario}}
        <li>
            <a  href="/profile/read">ir al Perfil de {{username}}</a>
        </li>
    {{/usuario}}
</ul>