<div style="min-height: 70vh;"> BIENVENIDO TE PUDISTE LOGUEAR PA :))))) </div>
JUGAR AQUI

    {{#usuario}}
        <li>
            <a  href="/profile/read">ir al Perfil de {{username}}</a>
        </li>
    {{/usuario}}
