<main>
    <div class="container my-5">
        <div class="row d-flex align-items-center">
            <div class="col-sm-6">
                <h2 class="text-center text-dark">Bienvenido al Lobby!!!</h2>
            </div>
            {{#admin}}
                <div class="col-sm-6 me-auto">
                    <h4>{{admin}}</h4>
                    <a class="btn btn-dark" href="/admin/read?filter=day">ver Estadisticas</a>
                </div>            
            {{/admin}}
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-sm-3 d-flex flex-column justify-content-center my-3">
                <img class="img-fluid rounded" src="/public/img/{{#user}}{{profilePicture}}{{/user}}" alt="profilePicture">
            </div>
            <div class="col-sm-6">
                <div class="card bg">
                    <div class="card-body">
                        <h4 class="card-title text-dark">{{#user}}{{username}}{{/user}}</h4>
                        {{#userScore}}
                            {{#maxScore}}
                                <h5 class="card-text text-dark">Puntaje mas alto alcanzado: {{maxScore}}</h5>
                            {{/maxScore}}
                            {{^maxScore}}
                                <h5><caption>No hay datos disponibles de este ultimo mes.</caption></h5>
                            {{/maxScore}}
                        {{/userScore}}
                        <a class="btn btn-dark" href="/play/read">Nueva Partida</a>
                        <a class="btn btn-dark" href="/ranking/read">Ranking</a>
                    </div>
                </div>
            </div>


            {{#user}}
                {{#isPlayer}}
                    <a class="btn btn-dark" href="/lobby/suggestQuestionView" style="max-width: 100px">Sugerir pregunta </a>
                {{/isPlayer}}
                {{#isEditor}}
                    <a class="btn btn-dark px-5 py-2" style="max-width: 200px;" href="/editor/editorView">Ir a vista de editor</a>
                {{/isEditor}}
            {{/user}}

        </div>
    </div>
</main>
