<main>
    <!--Q&A-->
    <div class="container my-5 col-sm-6 card rounded bg-dark text-center">
        <div class="card-header my-4 p-3 rounded d-flex align-items-center bg-{{style}}">
            <h3 class="text-light mx-auto">{{#question}}{{category}}{{/question}}</h3>
        </div>
        <div class="container my-2">
            <h2 class="border rounded p-5 bg-light animate">{{#question}}{{question}}{{/question}}</h2>

            <div class="my-4">
                {{#answers}}
                    <form method="post" action="/play/verify">
                        <button name="isCorrect" id="isCorrect" value="{{correct}}" class="btn shadowE btn-light btn-block btn-lg mb-3 w-100">{{answer}}</button>
                    </form>
                {{/answers}}
            </div>
            <div class="my-2">
                <h5 class="text-left text-light">Puntaje: <span class="animate">{{score}}</span></h5>
                <h3 class="text-left text-light" id="timer">Tiempo restante</h3>
            </div>
        </div>
    </div>
    <!--modal-->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-bg-warning border border-3 border-dark rounded">
                <div class="modal-header">
                    <h4 class="modal-title">Fin de la partida</h4>
                </div>
                {{#modal}}
                    <div class="modal-body">
                        Puntaje final alcanzado: <b>{{modal}}</b>
                    </div>
                {{/modal}}
                <div class="modal-footer">
                    <form method="post" action="/lobby/read">
                        <button type="submit" class="btn btn-dark">Volver al inicio</button>
                    </form>
                    <form method="post" action="/play/read">
                        <button type="submit" class="btn btn-dark">Volver a jugar</button>
                    </form>
                </div>                   
            </div>
        </div>
    </div> 
</main>

<script>
    var timerId;
    var timeLeft = 20;

    function startTimer() {
        timeLeft = 20;
        document.getElementById('timer').textContent = timeLeft;
        timerId = setInterval(countdown, 1000);
    }

    function countdown() {
        if (timeLeft == 0) {
            clearTimeout(timerId);
            // Aquí puedes redirigir al usuario a la página de fin de juego o mostrar un mensaje de que el tiempo se ha agotado
            window.location.href = '/play/verify?timeOut=true'; // Asegúrate de cambiar esta URL a la URL de tu página de fin de juego
        } else {
            timeLeft--;
            document.getElementById('timer').textContent = timeLeft;
        }
    }

    // Inicia el temporizador cuando se carga la página
    startTimer();
</script>

<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        document.querySelectorAll(".animate").forEach(element => {
            element.classList.add("active");
        });
    });
</script>
{{#gameOver}}
    <script>
        clearTimeout(timerId); // Detiene el temporizador
    </script>
{{/gameOver}}

{{#modal}}
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            document.querySelector("#myModal").classList.add("show");
        });
    </script>
{{/modal}}

