<main>
    {{#user}}
        <div class="container my-5"> 
            <div class="row d-flex align-items-center">
                <div class="col-md-3 d-flex flex-column justify-content-center my-3">
                    <h3 class="text-center text-dark">Foto</h3>
                    <img class="img-fluid rounded" src="/public/img/{{profilePicture}}" alt="profilePicture">
                </div>
                <div class="col-md-6">
                    <h2 class="text-center text-dark">Perfil</h2>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-dark">{{username}}</h4>
                            <h5 class="card-title text-dark">{{email}}</h5>
                            <p class="card-text text-dark fw-bold">Nombre completo: {{fullname}}</p>
                            <p class="card-text text-dark fw-bold">Año de nacimiento: {{yearOfBirth}}</p>
                            <p class="card-text text-dark fw-bold">Genero: {{gender}}</p>
                            <p class="card-text text-dark fw-bold">Pais: {{country}}</p>
                            <p class="card-text text-dark fw-bold">Ciudad: {{city}}</p>
                            <a class="btn btn-dark" href="/register/update?id={{id}}">Actualizar</a>
                        </div>
                    </div>  
                </div>
                {{#qr}}
                    <div class="col-md-3 d-flex flex-column justify-content-center my-3">
                        <h3 class="text-center text-dark">QR code</h3>
                        <img class="img-fluid rounded" src="{{qr}}" alt="img-qr">
                    </div>
                {{/qr}}
            </div>        
        </div>
    {{/user}}
</main>
