<main>    
    <div class="container my-5">
        {{#nombreEntorno}}
            <h2 class="fw-bold text-center my-3">Modo {{nombreEntorno}}</h2>
        {{/nombreEntorno}}
        <div class="row">
            <div class="col-md-6 px-4 py-2">
                <h2 class="my-2">Historial del ultimo mes</h2>
                {{#user}}
                    <h4>{{username}}</h4>
                {{/user}}
                {{#userScore}}
                    <h5>Puntaje mas alto alcanzado: {{#maxScore}}{{maxScore}}{{/maxScore}}{{^maxScore}}0{{/maxScore}}</h5>                  
                {{/userScore}}
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Puntaje</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {{#matchHistory}}
                            <tr>
                                <td>{{dateGame}}</td>
                                <td>{{score}}</td>   
                            </tr>  
                        {{/matchHistory}}        
                    </tbody>
                    {{^matchHistory}}
                        <caption>No hay datos disponibles de este ultimo mes.</caption>
                    {{/matchHistory}} 
                </table>
            </div>
            <div class="col-md-6 px-4 py-2">
                <h2 class="my-2">Ranking del ultimo mes</h2>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Puntaje</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {{#rankingScore}}
                            <tr>
                                <th scope="row">{{rank}}</td>
                                <td><a href="/profile/get?username={{username}}" class="text-decoration-none fw-bold">{{username}} &raquo;</a></td>
                                <td>{{maxScore}}</td>
                            </tr>  
                        {{/rankingScore}}        
                    </tbody>
                    {{^rankingScore}}
                        <caption>No hay datos disponibles de este ultimo mes.</caption>
                    {{/rankingScore}} 
                </table>
            </div>
        </div>
    </div>
</main>
