<main>
    <div class="container my-5">
        <div class="row d-flex flex-column justify-content-center align-items-center" >
            <div class="col-md-6 border border-1 rounded" style="background-color: #F9AD30;">
                <form class="p-4" action="/register/{{#user}}set{{/user}}{{^user}}insert{{/user}}" method="POST" enctype="multipart/form-data">
                    <h2 class="text-center">Formulario Registro</h2>
                    <input type="hidden" name="id" value="{{#user}}{{id}}{{/user}}">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="fullname" id="fullname" placeholder="Ingresar nombre completo" value="{{#user}}{{fullname}}{{/user}}" required>
                        <label for="fullname">Nombre Completo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="number" min="1900" max="2100" name="yearOfBirth" id="yearOfBirth" placeholder="Ingresar año de nacimiento" value="{{#user}}{{yearOfBirth}}{{/user}}" required>
                        <label for="yearOfBirth">Año de Nacimiento</label>
                    </div>                   
                    <div class="form-floating mb-3">
                        <select class="form-select" name="gender" id="gender" required>
                            {{#genders}}
                                <option value="{{id}}">{{nombre}}</option>
                            {{/genders}}
                        </select>
                        <label for="gender">Género</label>
                    </div>   
                    <div class="form-floating mb-3">
                        <select class="form-select" name="country" id="country" required>
                            {{#countries}}
                                <option value="{{id}}">{{nombre}}</option>
                            {{/countries}}
                        </select>
                        <label for="country">País</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="city" id="city" placeholder="Ingresar ciudad" value="{{#user}}{{city}}{{/user}}" required>
                        <label for="city">Ciudad</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="email" name="email" id="email" placeholder="Ingresar email" value="{{#user}}{{email}}{{/user}}" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="password" name="pass" id="pass" placeholder="Ingresar contraseña" value="{{#user}}{{pass}}{{/user}}" required>
                        <label for="pass">Contraseña</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="password" name="repeatPass" id="repeatPass" placeholder="Ingresar contraseña nuevamente" value="{{#user}}{{pass}}{{/user}}" required>
                        <label for="repeatPass">Repetir Contraseña</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="username" id="username" placeholder="Ingresar nombre de usuario" value="{{#user}}{{username}}{{/user}}" required>
                        <label for="username">Nombre de Usuario</label>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="foto">Subir Foto de Perfil</label>
                        <input class="form-control form-contrl-sm" type="file" name="img" id="img">
                    </div>    
                    <div class="mb-3">
                        {{#user}}
                            <input type="submit" class="btn btn-dark" name="actualizar" id="actualizar" value="Actualizar">
                        {{/user}}
                        {{^user}}
                            <input type="submit" class="btn btn-dark" name="registrarse" id="registrarse" value="Registrarse">
                        {{/user}}
                    </div>
                    {{#errors}}
                        {{#errorEmail}}
                            <div class="alert alert-danger my-2">{{{errorEmail}}}</div>
                        {{/errorEmail}}
                        {{#errorPass}}
                            <div class="alert alert-danger my-2">{{errorPass}}</div>
                        {{/errorPass}}
                        {{#errorUsername}}
                            <div class="alert alert-danger my-2">{{errorUsername}}</div>
                        {{/errorUsername}}
                        {{#errorImg}}
                            <div class="alert alert-danger my-2">{{errorImg}}</div>
                        {{/errorImg}}
                    {{/errors}}
                </form>
            </div>
        </div>
    </div>
</main>
