<main>
    <div class="container my-5">
        <form method="post" action="{{action}}">
            <div class="form-floating mb-3">
                <input type="hidden" name="idSuggestion" value="{{suggestedQuestion.idSuggestion}}">
                <input class="form-control" type="text" name="question" id="question" placeholder="Ingresar nueva pregunta" required value="{{suggestedQuestion.question}}">
                <label for="question">Nueva pregunta</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" name="category" id="category" required>
                    <option selected disabled value="">Seleccionar categoría</option>
                    <option value="Geografía" {{#categoryIsGeography}}selected{{/categoryIsGeography}}>Geografía</option>
                    <option value="Arte" {{#categoryIsArt}}selected{{/categoryIsArt}}>Arte</option>
                    <option value="Ciencia" {{#categoryIsScience}}selected{{/categoryIsScience}}>Ciencia</option>
                    <option value="Deporte" {{#categoryIsSport}}selected{{/categoryIsSport}}>Deporte</option>
                    <option value="Entretenimiento" {{#categoryIsEntertainment}}selected{{/categoryIsEntertainment}}>Entretenimiento</option>
                    <option value="Historia" {{#categoryIsHistory}}selected{{/categoryIsHistory}}>Historia</option>
                </select>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" type="text" name="answer1" id="answer1" placeholder="Ingresar respuesta 1" required value="{{suggestedQuestion.answer1}}">
                <label for="answer1">Respuesta 1</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" type="text" name="answer2" id="answer2" placeholder="Ingresar respuesta 2" required value="{{suggestedQuestion.answer2}}">
                <label for="answer2">Respuesta 2</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" type="text" name="answer3" id="answer3" placeholder="Ingresar respuesta 3" required value="{{suggestedQuestion.answer3}}">
                <label for="answer3">Respuesta 3</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" type="text" name="answer4" id="answer4" placeholder="Ingresar respuesta 4" required value="{{suggestedQuestion.answer4}}">
                <label for="answer4">Respuesta 4</label>
            </div>
            <div class="mb-3">


                <div>
                    <input type="radio" id="correct1" name="correct" value="1" required {{#correctIs1}}checked{{/correctIs1}}>
                    <label for="correct1">Respuesta 1</label>
                </div>
                <div>
                    <input type="radio" id="correct2" name="correct" value="2" required {{#correctIs2}}checked{{/correctIs2}}>
                    <label for="correct2">Respuesta 2</label>
                </div>
                <div>
                    <input type="radio" id="correct3" name="correct" value="3" required {{#correctIs3}}checked{{/correctIs3}}>
                    <label for="correct3">Respuesta 3</label>
                </div>
                <div>
                    <input type="radio" id="correct4" name="correct" value="4" required {{#correctIs4}}checked{{/correctIs4}}>
                    <label for="correct4">Respuesta 4</label>
                </div>

            </div>
            {{#isEditor}}
                <div class="mb-3">
                    <input type="submit" class="btn btn-dark" name="accept" value="Aceptar">
                    <input type="submit" class="btn btn-dark" name="deny" value="Denegar">
                    <a class="btn btn-dark" href="/editor/suggestedQuestionsView">Cancelar</a>
                </div>
            {{/isEditor}}
            {{^isEditor}}
                <div class="mb-3">
                    <input type="submit" class="btn btn-dark" name="submit" value="Enviar">
                    <a class="btn btn-dark" href="/lobby/read">Cancelar</a>
                </div>
            {{/isEditor}}
        </form>
    </div>
</main>
